header{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: rgb(83, 196, 201);
    width: 100%;
    img{
        width: 80px;
        display: flex;
        justify-content: center;
    }
}
header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
header ul li{
    margin: 10px;
}
img{
    width: 170px;
}
h1{
    font-size: 60px;
    color: rgb(237, 237, 247);
    font-family: cursive;
}
h2{
    font-size: 40px;
    color: rgb(132, 15, 143);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3{
    display: flex;
    font-size: 60px;
    color: rgb(61, 190, 89);
    font-family: cursive;
    justify-content: center;
}
h4{
    font-size: 40px;
    color: rgb(243, 164, 46);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    font-size: 20px;
    color: rgb(5, 5, 5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p1{
    font-size: 20px;
    color: rgb(42, 20, 236);
    font-family: "Indie Flower", cursive;
    font-style: normal;
    
}
.contenedor{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: baseline;
    
}
.caja{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 30px 60px 30px 60px;

}
.caja img{
    border-radius: 50%;
}
.caja p{
    font-size: 15px;
}
.segurito{
    margin: 30px 60px 30px 60px;
}
.base{
    margin: 30px 60px 30px 60px;
}
.uno{

    display: flex;
    width: 90%;
    justify-content: space-between;
    background-color: rgb(83, 196, 201);
    margin: 30px 60px 30px 60px;
    align-items: center;

}
.uno img{
    width: 60%;
}

#video{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: darkcyan;
    justify-content: center;
    margin: 60px 0 60px 0;
}
#video iframe{
    padding: 10px;
    margin: 10px;
}
footer{
    background-color: rgb(199, 197, 197);
    width: 100%;
    display: flex;
    flex-direction:row-reverse
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Indie+Flower&display=swap')
